@font-face {
    font-family: Regular;
    src: url(fonts/AlumniSansPinstripe-Regular.ttf);
}

@font-face {
    font-family: Thin;
    src: url(fonts/Poppins-Thin.otf);
}

* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
}

body {
    background-color: #121212;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    width: 100vw;
    align-items: center;
    justify-items: center;
    padding: 50px;
}

.clock {
    color: #f3ecec;
    font-size: 140px;
    grid-column-start: 1;
    grid-column-end: 3;
    font-family: Regular;
    width: 380px;
}

#right-button,
#left-button {
    color: #f3ecec;
    background-color: #2a2929;
    width: 100px;
    height: 100px;
    border: 0;
    border-radius: 50px;
    font-size: 20px;
    font-weight: 600;
    font-family: Thin;
    transition: 0.2s;
}

#right-button:hover,
#left-button:hover {
    filter: brightness(0.85);
}

#right-button:active,
#left-button:active {
    filter: brightness(0.75);
}

#left-button {
    margin-right: 130px;
    justify-self: right;
}

.start {
    color: #2ED15A !important;
    background-color: #0C2A12 !important;
    margin-left: 130px;
    justify-self: left;
}

.stop {
    color: #904441 !important;
    background-color: #340E0B !important;
    margin-left: 130px;
    justify-self: left;
}

ul {
    border-top: 2px solid #2a2929;
    height: 200px;
    width: 460px;
    grid-column-start: 1;
    grid-column-end: 3;
    overflow-y: scroll;
}

ul::-webkit-scrollbar { 
    width: 0;
}

ul li {
    color: #cccbcb;
    display: flex;
    justify-content: space-between;
    padding: 3px;
    font-size: 30px;
    font-family: Regular;
    border-bottom: 0.5px solid #2a2929;
}

.timer {
    color: #cccbcb;
    font-family: Regular;
    font-size: 25px;
    position: fixed;
    bottom: 30px;
}

.timer a {
    text-decoration: none;
    color: #cccbcb;
}